.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Faz com que a div ocupe a altura total da janela */
    background-color: #B7D5E5;
}

.card{
    background-color: #f8f8ea;
    justify-content: center;
}

.button{
    background-color: #3B82F6;
    color: #f8f8ea;
    width: 100%;
}

.field {
    width: 100%;
    margin-bottom: 1rem;
}

.field input, .field .p-inputtext, .field .p-password {
    width: 100%;
    box-sizing: border-box; /* Inclui padding e border na largura total */
}